<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Delay Designer - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Delay Designer - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Delay Designer - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Delay Designer - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EFFC006964793261491A52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9630EAE9A1F4C933DC7B8B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B79DA309956C89B06AD43185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF540BB2E6DAFB6AB67B2D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
